/* General */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap');

html{
  -moz-user-select: none; 
  user-select: none;
  border: 1px solid white; 
  /* cursor: none; */
}

#footer{
  cursor: default;
}

#bkimg{
  position: fixed; 
  z-index: -4; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background: url('images/nature.jpg');
  background-size: cover;
  filter: brightness(50%);
}

#main{
  padding: 0 10px;
  margin: 20px 4% 0; 
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  /* height: inherit; */
  /* border: 1px solid red; */
}

/* Flexbox */

/* Top "bar" (round info, category info, timer) */

#catInfo{
  font-size: 2.8rem;
}

#qnum{
  background: #1f2877fa; 
  padding: 2px 4px; 
}

#timer{
  font-family: 'PT Sans', 'Roboto', 'Arial', sans-serif;
  float: right; 
  text-align: center;
  width: 60px; 
  height: 60px;
  border-radius: 30px;
  font-weight: 700; 
  line-height: 1.35;
  background: #ffffff3f;
  border: 1px solid #fff;
  transition: all 0.24s; 
}

#timer.timer-low{
  background: #ffba8866; 
}

/* Question */

h1{ 
  font-size: 3.5rem;
  margin: 12px 0 16px
}

h1 span{
  transition: filter 0.4s; 
}

.blurred{
  filter: blur(18px);
}

.hint{
  color: #81d7ff;
}

/* MC Options */

.opt{
  background: #0000004f;
  font-size: 42px; 
  border: 1px solid #fff; 
  margin-bottom: 12px; 
  position: relative;
}

.opt-letter{
  width: 30px;
  vertical-align: top; 
  text-align: center; 
  display: inline-block; 
  font-weight: 700; 
  padding: 6px 12px; 
  background: #33749a90;
  transition: background 0.8s;
}

.opt-ans{
  display: inline-block;
  width: calc(100% - 66px);
  padding: 6px 0 6px 0; 
}

.opt-bar{
  position: absolute; 
  width: 0%; 
  height: 100%; 
  z-index: -3; 
  transition: width 0.8s; 
}

.opt-perc{ /* percentage indicator */
  font-family: 'PT Sans'; 
  float: right; 
  padding: 0 4px; 
  margin-top: 4px; 
  margin-right: 6px; 
  font-size: 32px; 
  width: 95px; 
  opacity: 0; 
  text-align: center;
  transition: opacity 0.4s; 
}

.incorrect .opt-letter{
  background: #bd4f4090;
}

.incorrect .opt-perc{
  background: #c12b1180
}

.incorrect .opt-bar{
  background: #c00d0073; 
}

.correct .opt-letter{
  background: #4ebd4090
}

.correct .opt-perc{
  background: #31c11180
}

.correct .opt-bar{
  background: #14c00073;
}

/* Image support */

.row{
  display: flex;
}

#q-options{
  min-width: 480px;
  width: 100%;
}

#q-image img{
  margin-left: 8px;
  max-height: 560px;
  height: 100%;
}

.img-fullWidth{
  width: 100%; 
  text-align: center;
}

/* Question stats (sa/bz/md) */

#q-stats{
  width: 100%; 
  text-align: center;
}

#q-stats p{
  font-size: 1.8rem;
}

#q-pb-outer{
  background: #c0c0c08f;
  margin: auto;
  height: 8px;
  width: 60%;
  margin-bottom: 12px;
  position: relative;
  /* max-width: ; */
}

#q-pb-inner{
  position: absolute;
  top: 0; 
  left: 0; 
  width: 0%; 
  height: 8px;
  background: #00ff6a8f;
  transition: width 0.24s;
}