/* General */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap');

html{
  -moz-user-select: none; 
  user-select: none;
  border: 1px solid white; 
  /* cursor: none; */
}

#footer{
  cursor: default;
}

#bkimg{
  position: fixed; 
  z-index: -4; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background: url('images/nature.jpg');
  background-size: cover;
  filter: brightness(50%);
}

#main{
  padding: 0 10px;
  margin: 20px 4% 0; 
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  /* height: inherit; */
  /* border: 1px solid red; */
}

/* Flexbox */

/* Top "bar" (round info, category info, timer) */

#catInfo, .topbar{
  font-size: 2.8rem;
}

#qnum{
  background: #1f2877fa; 
  padding: 2px 4px; 
}

#main.showing-scores div #qnum{
  background: #278f41fa; 
}

#main.announcement div #qnum{
  background: #511991fa; 
}

#timer{
  font-family: 'PT Sans', 'Roboto', 'Arial', sans-serif;
  float: right; 
  text-align: center;
  width: 60px; 
  height: 60px;
  border-radius: 30px;
  font-weight: 700; 
  line-height: 1.35;
  background: #ffffff3f;
  border: 1px solid #fff;
  transition: all 0.24s; 
}

#timer.timer-low{
  background: #ffba8866; 
}

/* Announcement */

#main.announcement{
  margin-top: 12%;
}

/* Question */

h1{ 
  font-size: 3.5rem;
  margin: 12px 0 16px
}

h1 span{
  transition: filter 0.4s; 
}

.blurred{
  filter: blur(18px);
}

.hint{
  color: #81d7ff;
}

#q-details{
  overflow: hidden;
}

/* MC Options */

.opt{
  background: #0000004f;
  font-size: 42px; 
  border: 1px solid #fff; 
  margin-bottom: 12px; 
  position: relative;
}

.opt-letter{
  width: 30px;
  vertical-align: top; 
  text-align: center; 
  display: inline-block; 
  font-weight: 700; 
  padding: 6px 12px; 
  background: #33749a90;
  transition: background 0.8s;
}

.opt-ans{
  display: inline-block;
  width: calc(100% - 66px);
  padding: 6px 0 6px 0; 
}

.opt-bar{
  position: absolute; 
  width: 0%; 
  height: 100%; 
  z-index: -3; 
  transition: width 0.8s; 
}

.opt-perc{ /* percentage indicator */
  font-family: 'PT Sans'; 
  float: right; 
  padding: 0 4px; 
  margin-top: 4px; 
  margin-right: 6px; 
  font-size: 32px; 
  width: 95px; 
  opacity: 0; 
  text-align: center;
  transition: opacity 0.4s; 
}

.incorrect .opt-letter{
  background: #bd4f4090;
}

.incorrect .opt-perc{
  background: #c12b1180
}

.incorrect .opt-bar{
  background: #c00d0073; 
}

.correct .opt-letter{
  background: #4ebd4090
}

.correct .opt-perc{
  background: #31c11180
}

.correct .opt-bar{
  background: #14c00073;
}

/* Image support */

.row{
  display: flex;
}

#q-options{
  min-width: 480px;
  flex: 1;
}

#q-image{
  flex: 1;
  text-align: center;
}

#q-image img{
  margin-left: 8px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center top;
}

.img-fullWidth{
  flex: 2;
  text-align: center;
}

/* Question stats (sa/bz/md) */

.valign{
  margin-top: 20px;
}

#q-stats{
  flex: 0.7;
  text-align: center;
}

#q-stats p{
  font-size: 1.8rem;
}

#q-stats-answer span{
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  background: #45ff935d;
  box-shadow: 2px 2px 2px #4affc98c;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity 0.24s;
}

#q-stats-answer span::before{
  font-size: 1.2rem;
  font-weight: 400;
  content: 'Correct Answer:'; 
  color: #aaffd5;
  display: block;
}

#q-stats-first{
  display: inline-block;
  margin-top: 8px;
  color: #a8eeff;
}

#q-pb-outer{
  background: #c0c0c08f;
  margin: auto;
  height: 8px;
  width: 60%;
  margin-bottom: 12px;
  position: relative;
  /* max-width: ; */
}

#q-pb-inner{
  position: absolute;
  top: 0; 
  left: 0; 
  width: 0%; 
  height: 8px;
  background: #00ff6a8f;
  transition: width 0.24s;
}

/* Top Scores */

#scores-upper > div, #scores-lower > div{
  flex: 1; 
  background: #ffffff1c;
  border: 1px solid #ffffff63;
  backdrop-filter: blur(4px);
  padding: 16px;
}

#scores-upper{
  padding-top: 20px;
  display: flex;
}

#scores-upper > div{
  margin-bottom: 12px;
  text-align: center;
  padding-top: 40px;
  height: 420px;
}

#scores-upper > div:not(:nth-last-child(1)), #scores-lower > div:not(:nth-last-child(1)){
  margin-right: 12px;
}

#scores-lower{
  display: flex;
}

#scores-lower div{
  text-align: left;
}

#scores-lower .scores-rank{
  float: left;
}

.scores-rank{
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  box-shadow: 2px 2px 4px #333;
  line-height: 2;
  font-size: 1.7rem;
  text-align: center;
}

.scores-gold{
  background: linear-gradient(120deg, #f3de67, #b3990a);
}

.scores-silver{
  background: linear-gradient(120deg, #dadada, #888888);
}

.scores-bronze{
  background: linear-gradient(120deg, #bb674d, #8b4922);
}

.scores-copper{
  background: linear-gradient(120deg, #754c30, #442d1e);
}

.scores-tin{
  background: linear-gradient(120deg, #777777, #4e4e4e);
}

.scores-tn{
  display: block;
}

#scores-upper .scores-tn{
  margin-top: 36px;
  font-size: 2.4rem;
}

#scores-upper .scores-det{
  position: absolute;
  top: 250px;
  width: calc(100% - 32px);
  font-size: 1.72rem;
}

#scores-upper .scores-det > div{
  height: 92px;
  overflow: hidden;
  position: relative;
}

#scores-upper .scores-det > div div{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.scores-cor{
  color: #baf8bd; 
  font-weight: bold;
}

.scores-tb{
  color: #bdd4ff; 
}

.scores-pts{
  color: #baf8ee; 
  font-weight: bold;
}

.scores-sm{
  font-size: 1.1rem;
}

#scores-lower .scores-tn{
  margin-left: 80px;
  font-size: 1.6rem;
}

#scores-lower .scores-det{
  margin-left: 80px;
  font-size: 1.2rem;
}

/* Divergence */
.divg-blue {
  background: #34349ba4; 
  padding: 4px 6px; 
  font-size: 85%;
}

.divg-red {
  background: #a33838a4; 
  padding: 4px 6px; 
  font-size: 85%;
}