html {
  cursor: default;
}

a:hover {
  cursor: pointer;
}

#bk {
  background-image: url(../images/bk.jpg);
}

#nav {
  height: 82px;
  background: #333333af
}

#footer {
  height: 22px;
}

#bracket-outer {
  font-family: 'Roboto', sans-serif;
  background: #555555af;
  text-align: left;
  position: absolute;
  width: 100%;
  height: calc(100% - 104px);
  top: 82px;
  padding: 0;
  /* background: blue;   */
  overflow: scroll;
}

#bracket-inner {
  white-space: nowrap;
  margin-right: 1rem;
  padding: 1rem;
}

#bracket-inner h2, #bracket-inner p {
  text-shadow: 1px 1px 4px #303030;
  font-weight: 400;
}
#bracket-inner h2 {
  margin: 8px 0;
}

.bk-round {
  display: inline-block;
  width: 18.0rem;
}

.bk-spacer {
  vertical-align: top;
  display: inline-block;
  width: 3.0rem;
  /* overflow: hidden; */
}

/* Landing screen */
.landing-btn {
  display: block;
  width: 100%; 
  max-width: 400px;
  font-size: 1.4rem;
  padding: 4px 12px;
  margin-bottom: 8px;
}

/** Match information (box, 18x6rem)*/

#bracket-inner section{
  vertical-align: top;
}

.bk-match-outer {
  /* position: absolute; */
  background: #444444af;
  height: 6rem;
  width: 18.0rem;
  border: 1px solid #fff;
  box-sizing: border-box;
  /* margin-bottom: 1.5rem; */
}

.bk-match-outer .bk-match-top {
  border-bottom: 1px solid #aaa;
}

.bk-match-inner {
  padding: 0.24rem;
  height: calc(50% - 0.48rem);
  transition: background 0.14s;
}
.bk-match-inner:hover {
  background: #ffffff1f;
  cursor: pointer;
}
.bk-match-inner-main {
  display: inline-block;
  font-size: 1.24rem;
  line-height: 1.2;
  width: calc(100% - 36px);
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bk-match-inner-score {
  display: inline-block;
  width: 36px;
  font-size: 1.24rem;
  line-height: 1.2;
  height: 24px;
  vertical-align: top;
  text-align: center;
}
.bk-match-inner-sub {
  font-size: 0.96rem;
  line-height: 0.56;
}

sup { 
  vertical-align: top; 
  font-size: 0.72rem; 
}

/* Gaps and connectors */
.bk-gap, .bk-connector {
  width: 3rem; 
  box-sizing: border-box;
  /* display: inline-block; */
}

.bk-connector .bk-cl, .bk-connector .bk-cr {
  vertical-align: top;
  display: inline-block;
  width: 1.5rem;
  height: calc(100% - 1px);
  border-bottom: 1px solid #fff;
}

.bk-connector .bk-cl {
  border-top: 1px solid #fff; 
  border-right: 1px solid #fff;
}

.bk-connector .bk-cl.bk-nb {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.bk-connector .bk-cr {
  height: 50%;
  /* writing-mode: vertical-lr;
  text-align: center;
  font-size: 0.8rem; */
}

.bk-connector .bk-cl.bk-d {
  border-right: 1px dashed #fff;
}

.bk-connector .bk-cr.bk-db {
  height: 100%;
  border-bottom: 1px dashed #fff;
}

/* Colored text */
.text-gray {
  color: #aaa;
}

.text-green {
  color: #bfb; 
}

.text-yellow {
  color: #ffb; 
}

.text-blue {
  color: #bdf; 
}

/* Overlay */
#bracket-overlay {
  z-index: 5; 
  position: fixed;
  left: 0; 
  top: 82px; 
  width: 100%;
  height: calc(100% - 82px);
  background: #00000090; 
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transition: opacity 0.32s; 
  opacity: 0;
  display: none;
}

#bracket-overlay-inner {
  margin: auto;
  width: 100%; 
  max-width: 800px;
  padding: 20px 24px 12px;
  box-sizing: border-box;
}

#bracket-overlay-inner h2 {
  font-weight: 400;
}

#bracket-overlay-inner h1 {
  margin: 0;
}