html, body {
  -moz-user-focus: none;
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none !important;
}

/* Navbar and footer */

#nav {
  height: 52px;
  overflow: hidden;
}

#nav-top {
  height: 28px;
  overflow: hidden;
}

#footer {
  height: 36px;
  font-size: 12px;
}

#footer-round {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

#s-team {
  display: inline-block; 
  width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Contestant body framework */

#contestant-inner {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

@keyframes pulse {
  from {
    transform: scale(1)}
  50% {
    transform: scale(1.05)}
  to {
    transform: scale(1)}
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 0.6s;
}

/* Question details */

.q:not(#q-msg) {
  display: none;
}

.btn-mc, #i-sa {
  width: 100%; 
  /* max-width: 600px; */
  font-size: 24px;
  margin-top: 8px;
  text-align: left;
}

#i-sa {
  padding: 8px 16px;
}

#q-num, #q-stop, #q-msg, #q-sp p, #q-md h2, #q-md p, #q-scores *{
  text-shadow: 1px 1px 3px #444;
}

#q-stop{
  margin: auto;
  margin-top: 18px;
  margin-bottom: 12px;
  padding: 8px 4px;
  width: 180px;
  background: #ac5742af;
  box-shadow: 3px 3px 2px #bb8b5eaf;
}

#q-stop h1{
  margin: 0;
}

#q-num{
  margin: 0.5em 0 0.2em;
}

#q-sa {
  padding-bottom: 4px;
}

.q-sa, .q-ind{
  /* question-short answer, question-indicator */
  padding: 4px 8px;
  font-size: 1.0em; 
  background: #0000007f;
  border: 1px solid #fff; 
}

#q-timer {
  width: fit-content;
  max-width: 200px;
  margin: auto;
  transition: opacity 0.2s, background 1.0s;
}

#i-sa{
  padding: 8px;
  transition: all 0.14s;
  border: none; 
  background: #ffffffaf;
  color: #000;
  border-radius: 0; 
  border-bottom: 1px solid #555;
}

#i-sa:hover{
  border-color: #4040cc;
}

#i-sa:focus{
  outline: none;
  background: #d5e2ffaf;
  border-color: #4040cc;
  box-shadow: 0 1px 0 0 #4040cc;
}

a button{
  font-size: 24px; 
  padding: 8px 14px;
}

.btn-mc{
  overflow: hidden;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 16px 8px 12px;
}

.btn-mc b{
  display: inline-block; 
  width: 24px; 
  vertical-align: bottom;
  display: inline-block;
  text-align: center;
}

.btn-mc.pending:disabled, .light-blue{
  background: #5e86bbaf; 
}

.btn-mc.selected:disabled, .blue{
  background: #4255acaf; 
}

.btn-mc.correct:disabled, .correct{
  background: #219139af; 
}

#i-sa.correct{
  background: #ccf5ceaf;
  color: #030; 
}

.btn-mc.incorrect:disabled, .incorrect{
  background: #ac4242af; 
}

#i-sa.incorrect{
  background: #f5d2ccaf;
  color: #300; 
}

/* Scoreboard iFrame */

#q-scores button{
  font-size: 1.4rem;
  padding: 8px 12px;
}

#scores-overlay{
  display: none;
  position: fixed;
  z-index: 4;
}

#scores-inner{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #726d6d;
}

#scores-iframe{
  width: 100%;
  height: 100%;
  border: none;
}

#scores-actions {
  position: absolute;
  top: 4px; 
  right: 14px;
}

#scores-actions button{
  width: 40px;
  height: 32px;
  font-size: 20px;
  padding: 0;
  background: none;
}

#scores-actions button:hover, #scores-actions button:focus{
  background: #ffffff1f;
}

.scores-hide {
  -webkit-animation-name: scores-hide;
  animation-name: scores-hide;
  animation-duration: 0.6s;
}

.scores-show {
  -webkit-animation-name: scores-hide;
  animation-name: scores-hide;
  animation-direction: reverse;
  animation-duration: 0.6s;
}

@media only screen and (min-width: 980px) {
  #scores-overlay{
    /* border: 1px solid #000;  */
    box-shadow: 4px 4px 8px #333;
    left: 7.5%; 
    width: 85%; 
    top: calc(60px + 5%); 
    height: calc(85% - 60px);
  }

  @keyframes scores-hide {
    from {
      top: calc(60px + 5%);
      opacity: 1;
      transform: scale(1.0);
    }
    to {
      top: calc(80%); 
      opacity: 0;
      transform: scale(0.5);
    }
  }
}

@media only screen and (max-width: 979px) {
  #scores-overlay{
    left: 0; 
    width: 100%; 
    top: 60px; 
    height: calc(100% - 60px);
  }

  @keyframes scores-hide {
    from {
      top: 60px}
    to {
      top: 100%}
  }
}