html {
  -moz-user-focus: none;
  user-select: none;
}

@keyframes pulse {
  from {
    transform: scale(1)}
  50% {
    transform: scale(1.05)}
  to {
    transform: scale(1)}
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 0.6s;
}

.q:not(#q-wel){
  display: none;
}

.btn-mc, #i-sa{
  width: 80%; 
  max-width: 600px;
  font-size: 24px;
  padding: 8px 16px;
  margin-top: 8px;
  text-align: left;
}

#q-num, #q-stop, #q-wel{
  text-shadow: 1px 1px 3px #444;
}

.q-sa{
  padding: 4px 8px;
  font-size: 1.0em; 
  background: #0000007f;
}

#i-sa{
  padding: 8px;
  transition: all 0.14s;
  border: none; 
  background: #ffffffaf;
  border-radius: 0; 
  border-bottom: 1px solid #555;
}

#i-sa:hover{
  border-color: #4040cc;
}

#i-sa:focus{
  outline: none;
  background: #d5e2ffaf;
  border-bottom: 2px solid #4040cc;
}

a button{
  font-size: 24px; 
  padding: 8px 14px;
}

.btn-mc{
  overflow: hidden;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-mc.selected:disabled{
  background: #4255acaf; 
}

.btn-mc.correct:disabled, .correct{
  background: #219139af; 
}

#i-sa.correct{
  background: #ccf5ceaf;
  color: #030; 
}

.btn-mc.incorrect:disabled, .incorrect{
  background: #ac4242af; 
}

#i-sa.incorrect{
  background: #f5d2ccaf;
  color: #300; 
}