@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

::selection{
  background: #cde;
}

body{
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif; 
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#bk{
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
  background: url(/images/landing.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}

#sq{
  width: calc(100% - 40px);
  max-width: 360px;
  padding: 5px 20px 20px;
  background: #ffffff9f; 
  margin: auto;
  margin-top: 100px;
}

#sq form{
  display: flex;
}

#sq form input{
  width: calc(100% - 44px); 
  background: none; 
  border: none;
  font-size: 16px;
  border-radius: 0; 
  border-bottom: 1px solid #555;
  padding: 4px;
  transition: border 0.3s, box-shadow 0.3s; 
  background-color: #ffffff9f;
}

#sq form input[type='text']:focus, input[type='text']:focus ~ button{
  outline: none; 
  border-bottom: 1px solid #008cff !important;
  box-shadow: 0 1px 0 0 #008cff;
  /* border-bottom: 2px solid #008cff; */
}

#sq form button{
  width: 36px;
  font-size: 16px; 
  padding: 4px; 
  border: none; 
  border-radius: 0; 
  border-bottom: 1px solid #555;
  background-color: #ffffff9f;
  transition: border 0.3s, box-shadow 0.3s, background 0.15s; 
  cursor: pointer;
}

#sq form button:focus{
  outline: none;
  background: #cdf3ffb2; 
}

#sq form button:focus-visible{
  background: #a5eaffb2; 
}

#failed{
  background: rgba(255, 105, 86, 0.3);
  padding: 2px 4px;
}

#ft{
  color: #fff;
  position: fixed; 
  bottom: 0px; 
  left: 0;
  padding: 0 5px;
  height: 22px; 
  width: calc(100% - 10px);
  opacity: 0.5; 
}

#ft:hover{
  opacity: 1;
}

a {
  color: #336ad1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}