@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

::selection{
  background: #cde;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background: #444;
}

::-webkit-scrollbar-corner { 
  background: #353535; 
}

::-webkit-scrollbar-thumb{
  background: #7c8692;
}

::-webkit-scrollbar-thumb:hover{
  background: #9daebe;
}

body{
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background: #444;
  color: #fff;
}

html, button, input{
  font-family: 'Raleway';
  border-radius: 0;
}

body{
  margin: 0
}

p{
  font-size: 1.1rem;
}

a{
  text-decoration: none;
  color: #aac8ff; 
}

a:hover, a:focus{
  text-decoration: underline;
}

button, input, select, textarea{
  background: #333333af;
  border: 1px solid #fff;
  transition: all 0.15s;
  color: #fff; 
}

button:focus, input:focus, textarea:focus{
  outline: none;
  border-color: #93d4ff;
}

button:not([disabled]):hover{
  cursor: pointer;
}

button:not([disabled]):hover, input:not([disabled]):focus{
  background: #312f4eaf; 
}

button:not([disabled]):active{
  /* color: #fff; */
  background: #2a3875af; 
}

#nav{
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  user-select: none;
  top: 0;
  padding: 2px 6px 0px;
  border-bottom: 1px solid #000;
  background: #3333336f;
  color: #fff;
  z-index: 2;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#bk{
  z-index: -5;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
  /* background-image: url(../images/bk.jpg); */
  background-size: cover;
  background-position: center;
}

.container{
  overflow: hidden;
  text-align: center;
}

.container.top{
  margin-top: 60px;
}

.right{
  float: right;
}

#nav-top span{
  font-size: 22px;
}

#nav-btm span{
  font-size: 14px;
  color: #ddd;
}

#nav-cat{
  padding-top: 4px;
}

#nav-cat a{
  text-decoration: none;
  display: inline-block; 
  padding: 4px 8px;
  border-bottom: 2px solid transparent; 
  transition: all 0.2s; 
}

#nav-cat a.active{
  background: #ffffff0f; 
  border-color: #aac8ff;
}

#footer{
  background: #1111117f;
  box-sizing: border-box;
  position: fixed;
  font-size: 14px;
  color: #ddd;
  bottom: 0px;
  padding: 4px;
  width: 100%;
  transition: all 0.14s;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

/* #footer:hover, #footer:focus-within{
  background: #1111117f;
} */

#snackbar{
  z-index: 40; 
  position: fixed; 
  opacity: 0; 
  transition: all 0.3s;
  left: calc(50% - 150px);  
  bottom: -40px;
  width: 300px; 
  height: 24px; 
  background: #2f58359f;
  color: #fff;
  border: 1px solid #ffffff7f;
  text-align: center;  
  font-size: 20px;
  padding: 12px 4px;
}

#snackbar-sm{
  z-index: 40; 
  position: fixed; 
  opacity: 0; 
  transition: all 0.3s;
  left: calc(50% - 160px);  
  bottom: -40px;
  width: 320px; 
  height: 20px; 
  background: #2f42589f;
  color: #fff;
  border: 1px solid #ffffff7f;
  text-align: center;  
  font-size: 18px;
  padding: 8px 3px;
}

.show-on-lg{
  display: none;
}
@media only screen and (min-width: 980px) {
  .hide-on-lg{
    display: none;
  }
  .show-on-lg{
    display: initial;
  }
}